@page "/"

<PageTitle>Index</PageTitle>

<div class="text-center">
    <h1 class="display-4">Karol Chmieliński</h1>
    <a href="https://github.com/7LinesOfCode" target="_blank">Mój GitHub</a>
    <p>Email: chmielinskidotnet@gmail.com</p>
    <p>Numer telefonu: 608 682 589</p>
</div>

